@media screen and (min-width: 768px) and (max-width: 1023px) {
	body {
        position: fixed;
   	}
	.main h2 {
		width: calc(100vw - 40px);
		word-break: break-word;
		text-align: center;
	}
	.main p {
		width: calc(100vw - 40px);
		text-align: center;
		margin: 40px 0;
	}
	.main .buttons {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
	.main .buttons a {
		position: relative;
		width: 47%;
	}
	.main .buttons button {
		position: relative;
		width: 100%;
		font-size: 32px;
		/*height: 60px;*/
		padding: 20px 0;
		border-radius: 20px;
	}

}